In [1]:
import pandas as pd

## Load Data

In [13]:
turbine_1 = pd.read_csv("Turbine1.csv", sep=";")
turbine_1.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","5,8",10,"272,1","160,6",31533151,5742983,48371,46008,"15,9",...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","6,4",10,"320,1",162,31533151,5743039,48371,46008,"17,7",...,0,0,0,0,0,0,0,0,0,0

In [17]:
turbine_1.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
dtype: object

In [14]:
turbine_2 = pd.read_csv("Turbine2.csv", sep=";")
turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,0,0,0,0,0,0,0,0,0,0

## Missing Value

#### Turbine 1

In [15]:
missing_value_T1_sum = turbine_1.isnull().sum()
missing_value_T1_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64

#### Turbine 2

In [16]:
missing_value_T2_sum = turbine_2.isnull().sum()
missing_value_T2_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64